<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
<link rel="shortcut icon" href="{{ './assets/fav.ico' | relative_url }}"/>
<title>{{ title }}/title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"/>
<style>font-family: 'Roboto', sans-serif;</style>
<!--<link rel="stylesheet" href="{{ './assets/style.css' | relative_url }}">-->
<!-- SEO -->
