<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ './assets/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Alexander "axav" Antonov</title>
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1 style="text-align: center;"><img src="{{ './assets/logo/white.svg?v=' | append: site.github.build_revision | relative_url }}" width="150px"></h1>
          <hr>
          <span class="credits right">
            {% include social.html %}
          </span>
        </div>
        {{ content }}
      </section>
    </div>
  </body>
</html>
