<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ './assets/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>Alexander "axav" Antonov</title>
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1><img src="./assets/logo/white.svg" width="150px"></h1>
          <hr>
          <span class="credits right">
            <a href="https://twitter.com/axavtwitt" target="_blank">Twitter</a>
            &nbsp;
            <a href="https://fb.com/axavfaceb" target="_blank">Facebook</a>
            &nbsp;
            <a href="https://vk.com/axavk" target="_blank">VK</a>
            &nbsp;
            <a href="https://axavgame.itch.io/" target="_blank">itch.io</a>
            &nbsp;
            <a href="https://axavgame.gamejolt.io/" target="_blank">GameJolt</a>
            &nbsp;
            <a href="https://axavmusic.bandcamp.com/" target="_blank">Bandcamp</a>
            &nbsp;
            <a href="https://www.patreon.com/axavpatreon" target="_blank">Patreon</a>
          </span>
        </div>
        {{ content }}
      </section>
    </div>
  </body>
</html>
