<!DOCTYPE html><html lang="{{ page.lang | default: "en-US" }}"><head>{% include head.html %}</head><body>
    <header>
      <div class="container">
        <div><a id="a-title" href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/logo/white.svg' | relative_url }}" style="width: 50px;"/>
          </a></div>
        <div><a href="/project">./project</a>&nbsp;&bull;&nbsp;<a href="/blog">./blog</a></div>
        <div>{% include social.html %}</div>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
</body></html>
